.Product {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Product > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Product > :nth-child(1) > a > span {
  padding: 0.5rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  color: white;
  background-color: #25a025;
  margin-right: 1rem;
  cursor: pointer;
  text-decoration: none;
}

.ProductContainer,
.ProductTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.productChart {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.productDetails {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding: 1rem 1rem 1rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.productDetailsContianer,
.ProductBottom {
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productDetailsLeft {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.productDetailsLeft > span {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.productDetailsLeft > div {
  margin-top: 0.5rem;
}

.productDetailsRight {
  width: 40%;
}

.productDetailsRight img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25%;
}

.productForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productForm img {
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
}

.productForm > div {
  width: 50%;
}

.productFormLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.productFormLeft > label {
  margin-bottom: .5rem;
  color: gray;
}

.productFormLeft input {
  width: 60%;
  margin-bottom: .5rem;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft select {
  margin-bottom: .5rem;
  width: 50%;
}

.productFormRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Button {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 2rem;
  background-color: #5550bd;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=Product.module.css.map */