.user {
  flex: 4;
  padding: 1rem;
  box-sizing: border-box;
  & >:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    >a> span {
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      border-radius: 10px;
      color: white;
      background-color: rgb(37, 160, 37);
      margin-right: 1rem;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
.userContainer {
  display: flex;
  flex-flow: row nowrap;
}
